//
//  shared.xcconfig
//  LXProxSeeSDK
//
//  Created by Elie Melki on 4/11/17.
//  Copyright © 2017 Lixar. All rights reserved.
//

#include "LXProxSeeSDKTest.xcconfig"

DEVELOPMENT_TEAM = C5258MET3L;
CODE_SIGN_IDENTITY = iPhone Developer;
PROVISIONING_PROFILE = e8a8bf22-9c25-471a-8910-88731b5da174;
PROVISIONING_PROFILE_SPECIFIER = iOS Wildcard Development Provisioning Profile;
