//
//  shared.xcconfig
//  LXProxSeeSDK
//
//  Created by Elie Melki on 4/11/17.
//  Copyright © 2017 Lixar. All rights reserved.
//

#include "Shared.xcconfig"

BUILD_STRING = "";
DEFINES_MODULE = YES;
DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
FRAMEWORK_OUTPUT_DIR = $(PROJECT_DIR)/../ProxSeeSDK;
FRAMEWORK_SEARCH_PATHS = $(inherited);
GCC_PREPROCESSOR_DEFINITIONS[sdk=*][arch=*] = CURRENT_PROJECT_VERSION_MACRO=$(CURRENT_PROJECT_VERSION) BUILD_STRING_MACRO=$(BUILD_STRING) DEBUG=1;
INFOPLIST_FILE = LXProxSeeSDK/Info.plist;
MACH_O_TYPE = staticlib;
PRODUCT_NAME = $(TARGET_NAME);
SKIP_INSTALL = YES;
VERSIONING_SYSTEM = ;
MACH_O_TYPE = staticlib;
